#weather-canvas{
	border: 5px solid black;
}

#weather-location{
	width: 65%;
}

#weather-button{
	width: 33%;
}

#weather-box{
	height: 510px;
/*	background-color: #BD8B9C;
*/	display: inline-block;
	border: 5px solid black;	
}

.weatherApp{
	margin-top: 75px;
}

.submitBar{
	margin-bottom: 15px;
}

.form-control{
	display: inline-block;
	height: 33px;
}